.content p {
  padding: 0;
  margin: 0px auto;
  font-size: 20px;
  text-align: justify;
  color: black;
  font: 1em/1.5em "Poppins", sans-serif;
}

.horizontalLine {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutContent {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.aboutContent .content {
  width: 70%;
}

.aboutContent .social-icon {
  width: 25%;
}

.aboutContent .social-icon i {
  color: #ed1e24;
  font-size: 28px;
  margin: 10px;
}
