.resendOTPLinkContainer {
  display: flex;
  justify-content: center;
}

.resendOTPLink {
  color: #007bff;
  cursor: pointer;
}

.resendOTPLink:hover {
  text-decoration: underline;
  color: red;
}

.errorMessage {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.successMessage {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.forgotformcont {
  background-color: white;
  width: 50%;
  height: 100%;
  border: 10px solid red;
  padding: 1%;
  margin: 1% auto;
  border-radius: 30px;
}

.forgotformele {
  padding: 1%;
  margin: 1% auto;
  font-size: 20px;
  width: 100%;
  font-weight: bold;
}

.forgotformele input {
  margin: 2% auto;
  padding: 1%;
  border: 5px solid red;
  width: 100%;
  font-size: 100%;
  border-radius: 10px;
  text-align: center;
}

.forgotlabel {
  width: 100%;
  display: inline-block;
  padding: 1%;
  text-align: center;
}

.forgotsubmit {
  margin: 1% auto;
  display: block;
  padding: 1%;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  width: 40%;
  border-radius: 20px;
}

.libtn {
  text-decoration: none;
}

.forgotbtn {
  text-decoration: none;
}

.forgotsubmit:hover {
  background-color: #a70000;
}

.links {
  display: flex;
}

.links p {
  margin-left: auto;
  width: fit-content;
}

.signin,
.forgot {
  text-decoration: none;
}

.signin:hover,
.forgot:hover {
  text-decoration: underline;
  color: red;
}

.forgotshowhide {
  width: 20%;
  margin-left: 80%;
  background-color: white;
  color: black;
  border: none;
  font-size: 20px;
}

.forgotshowhide:hover {
  border: none;
  background-color: white;
  text-decoration: underline;
  color: blue;
}

@media (max-width: 768px) {
  /* For mobile devices */
  .forgotHeading {
    text-align: center;
    font-size: 50%;
  }

  .forgotformcont {
    width: 90%;
    border: 5px solid red;
    border-radius: 15px;
  }

  .forgotformele input {
    width: 100%;
  }

  .forgotlabel {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    text-align: center;
  }

  .valid {
    display: none;
  }

  button {
    width: 50%;
  }

  .forgotshowhide {
    font-size: 70%;
    width: 40%;
    margin: 1% auto 5% 62%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* For tablets */
  .forgotformcont {
    width: 70%;
  }

  .forgotformele input {
    width: 100%;
  }

  .forgotlabel {
    width: 100%;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
  }

  .valid {
    display: none;
  }

  button {
    width: 50%;
  }

  .forgotshowhide {
    font-size: 70%;
    width: 40%;
    margin: 1% auto 5% 62%;
  }
}

@media (min-width: 1024px) and (max-width: 1720px) {
  /* For desktops and laptops */
  .forgotformcont {
    width: 50%;
  }

  .forgotformele input {
    width: 50%;
  }

  .forgotlabel {
    width: 30%;
    display: inline-block;
    margin-bottom: 0;
  }

  .forgotshowhide {
    font-size: 70%;
    width: 40%;
    margin: 1% auto 5% 62%;
  }
}
